station:
  host: localhost:8080
  lat: 35.7
  lon: -78.7
  type: DvsVP2+

uploaders:
#  - name: APRS-IS
#    type: aprs-is
#    interval: 3600
#    dial: tcp://rotate.aprs.net:14580
#    id: N0CALL-13
#    password: -1

#  - name: APRS-RF
#    type: aprs
#    interval: 3600
#    dial: direwolf:8001
#    id: N0CALL-13

#  - name: CWOP
#    type: aprs-is
#    interval: 300
#    dial: tcp://cwop.aprs.net:14580
#    id: aWnnnn

#  - name: Test
#    type: "null"

#  - name: Weathercloud
#    type: wc
#    interval: 600
#    id: 0123
#    password: deadbeef

#  - name: Wunderground
#    type: wu
#    interval: 0
#    id: Kssssssnn
#    password: deadbeef
