[Unit]
Description=Weather station uploader
Requires=davis-station.service
After=davis-station.service

[Service]
Type=simple
User=wx
Group=wx
EnvironmentFile=-/etc/default/station-uploader
ExecStart=/usr/bin/station-uploader -conf $CONF $EXTRA_OPTS

[Install]
WantedBy=multi-user.target
